.card {
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  max-height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
  color: var(--secondary-text);
}

.empty {
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 30%;
  background-color: var(--card-color);
  box-shadow: 0 0 0 3px var(--default-card-frame), 0 0 0 4px black;
}

.horizontal {
  align-items: flex-end;
  margin: 8px;
  width: 30%;
}

.horizontal::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
}

.horizontal:hover {
  transform: scale(1.05);
}

.horizontal.disabled {
  filter: grayscale(100%);
  transform: scale(0.8);
}

.horizontal.disabled:hover {
  transform: scale(0.85);
}

.horizontal * {
  z-index: 2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 30%;
  flex-grow: 1;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  /* border: 1px solid red; */
}
